.Total-Under-Subscribe-Socials {
  display: flex;
  width: 60.9375rem;
}
.Under-Subscribe-Socials {
  display: flex;
  gap: 46.4%;
  width: 100%;
  background: blue;
}
.Under-Subscribe-Menu {
  display: flex;
  gap: 3.0625rem;
  a {
    text-decoration: none;
    font-family: "SVN-Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 13.2183px;
    line-height: 20px;
    color: #00171f;
  }
}
.Logo-Subscribe-Socials {
  display: flex;
  gap: 30px;
}
